@CHARSET "UTF-8";
.font{
	border:0px solid yellow;
	font-style : normal;/*默认*/
	width:1177px;
	height:1260px;
	
	overflow:hidden;/*不会让汉字出了div*/
	background-color:#ffffff;
	
}


.left1{
	float:left;
 border:1px solid #c0c0c0;
/*background-color:#F2F4DF;*/
width:200px;/*div*/
/*margin:50px;外边距会在元素外创建额外的“空白”*/
text-align:left;
	background-color:#ffffff;
	line-height:26px;/*行间的距离*/
}


.right1{/*右面整体*/
	float:left;
	 border:0px solid #ff00ff;
/*background-color:#F2F4DF;*/
width:923px;/*div*/
	height:1380px;
/*margin:50px;外边距会在元素外创建额外的“空白”*/
text-align:left;
	background-color:#ffffff;
	margin-left:50px;

	
}
.rtop{/*右边最上*/

	height:170px;
 border:0px solid #c0c0c0;
background-color:#ffffff;
	
}
.rauto{
	margin-top:10px;
	height:70px;
	border:0px solid #c0c0c0;
	background-color:#ffffff;
	
}
.hr2{
	
	border:1px dotted #808080;
	align:center;
	 
	
}
.hr1{
	border:1px solid #ff0000; 
	width:"95%" ;
	SIZE:1;
	align:center;
	
}
.hr3{
	border:1px dotted #c0c0c0; 
	width:660px;
	
}
.title{
	
color:#000000;
	 border:0px solid #000000;
	width:180px;
    font-size:13px;
	
	margin-left:auto; /*居中*/
	font-weight:bold;/*粗体*/
	 margin-right:auto;
/*text-indent:20px;规定文本块中首行文本的缩进*/
line-height:26px;/*行间的距离*/

/*backgroud-repeat属性值如下.no-repeat,repeat-x,repeat-y
											no-repeat 不重复填充
											repeat-x 横向重复填充
											repeat-y纵向重复填充
background-repeat:no-repeat;
	background-position:110px;*/
}




ul,li{margin:0; padding:0;list-style:none;margin-top:-8px;} 
ul{margin-top:12px;}

.num1{
text-indent:0px;/*规定文本块中首行文本的缩进*/
	/*background-image:url(./image/book_no10.gif);*/
	/*background-position:10px;/*背景图像的起始位置
background-repeat:no-repeat;*/
	line-height:30px;
	font-size:12px;
	color:#808080;
	
}
.num2{
text-indent:30px;/*规定文本块中首行文本的缩进*/
	/*background-image:url(./image/book_no10.gif);*/
	/*background-position:10px;/*背景图像的起始位置
background-repeat:no-repeat;*/
	line-height:30px;
	font-size:12px;
	color:#808080;
	
}
a{
	text-decoration:none;
	color:#808080;
}

.l{
	float:left;
	
}

.tbl1{
	margin-top:10px;
	color:#c0c0c0;
	margin-left:10px;
	
}
.tbl2{
	margin-top:10px;
	color:#c0c0c0;
	margin:auto;
}
.tbl2 td{
	width:150px;
	color:#0000ff;
	
}
.tabl3{
	
	/*background-repeat:no-repeat;图片不能重复*/
	
}
.textbox1{
	width:50px;
	
}
.rdown{
	 border:0px solid #00ff00;
	height:910px;
	margin-left:40px;
	
	
}
.rdiv1{
	 border:0px solid #00ff00;
	margin-left:20px;
	height:210px;
	width:180px;
	float:left;
	margin-top:15px;
	
	
}
.rdimg1{
	width:180px;
	
	height:160px;
}
.rdownd{
	float:right;
	margin-top:10px;
	
}
.a1{
	text-decoration:none;
	color:#0000ff;
	
}

